__pycache__
*.egg-info
*.pyc
*.pyo
build
dist

.devcontainer
.git
.gitignore
.vscode

.DS_Store
.env
.env.*
.mypy_cache
.pytest_cache
.ruff_cache
.venv

*.md
Dockerfile
mise.toml
.python-version
requirements.txt
